<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    
    <body>
    
        <header th:fragment="header">
            <table>
                <tr>
                    <td th:each="category : ${categories}">
                        <a th:href="@{/categories/{id}(id=${category.id})}">
                            <span th:text="${category.name}">category</span>
                        </a>
                    </td>
                </tr>
            </table>
        </header>

    </body>
</html>
