<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Boulder News</title>
    </head>
    <body>

        <h2>Boulder News</h2>

        <h1>Add an article</h1>

        <form th:action="@{/add_article}" method="POST" enctype="multipart/form-data">
            <p>Title: <input name="title"></input></p>
            
            <p>Categories:</p>
            <ul>
                <li th:each="category : ${categories}">
                    <input type="checkbox" name="categories" th:value="${category.id}"></input>
                    <span th:text="${category.name}">category</span>
                </li>
            </ul>
            
            <p>Writers:</p>
            <ul>
                <li th:each="writer : ${writers}">
                    <input type="checkbox" name="writers" th:value="${writer.id}"></input>
                    <span th:text="${writer.name}">writer</span>
                </li>
            </ul>
            
            <p>Date: <input type="date" name="publishingTime"></input></p>
            <p>Lead: <input name="lead"></input></p>
            <p>Content: <textarea rows="10" cols="50" name="content"></textarea></p>
            <p>Picture: <input type="file" name="file" id="file"/></p>
            <input type="submit" value="Add"></input>
        </form>


    </body>

</html>
