<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" href="../../../../favicon.ico">

        <title>Boulder News</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    
    <body class="container">
        
        <nav th:replace="fragments/navbar :: nav">
            <p>Navigation bar</p>
        </nav>
        
        <br/>
        <nav th:replace="fragments/navbar :: admin-nav">
            <p>Admin nav</p>
        </nav>
        

        <br/>
        <br/>
        <br/>
        <h1>Boulder News Admin Panel</h1>
       
        <br/>
        <h2>Add a category</h2>

        <form th:action="@{/categories}" method="POST">
            <p>Name: <input name="name"></input></p>
            <input type="submit" value="Add"></input>
        </form>
        
        <br/>
        <h2>Categories</h2>

        <ul>
            <li th:each="category : ${categories}" style="list-style: none;">
                <a th:href="@{/categories/{id}(id=${category.id})}">
                    <span th:text="${category.name}">category</span>
                </a>
                <form th:action="@{/categories/{id}(id=${category.id})}" th:method="DELETE">
                    <input type="submit" value="remove"/>
                </form>
            </li>
        </ul>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
    </body>

</html>
