<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Categories</title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>Navigation bar</p>
        </header>

        <h1>Categories</h1>

        <ul>
            <li th:each="category : ${categories}">
                <a th:href="@{/categories/{id}(id=${category.id})}">
                    <span th:text="${category.name}">category</span>
                </a>
                <form th:action="@{/categories/{id}(id=${category.id})}" th:method="DELETE">
                    <input type="submit" value="remove"/>
                </form>
            </li>
        </ul>

        <h1>Add a category</h1>

        <form th:action="@{/categories}" method="POST">
            <p>Name: <input name="name"></input></p>
            <input type="submit" value="Add"></input>
        </form>

    </body>
</html>
