<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Boulder News</title>
    </head>
    <body>

        <h2>Boulder News</h2>
        
        <ul>
            <li th:each="article : ${articles}">
                <a th:href="@{/articles/{id}(id=${article.id})}">
                    <span th:text="${article.title + ' ' + article.publishingTime}">title and date</span>
                </a>
            </li>
        </ul>

        <h1>Add an article</h1>

        <form th:action="@{/}" method="POST">
            <p>Title: <input name="title"></input></p>
            <p>Date: <input type="date" name="publishingTime"></input></p>
            <input type="submit" value="Add"></input>
        </form>


    </body>

</html>
